body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1146px;
  margin: auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0 22px;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}

.button-link {
  color: inherit;
}

.button-primery {
  background-color: #256eeb;
  border-radius: 5px;
  color: #fff;
}

.search-panel {
  height: 50px;
  background-color: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}

.search-input {
  flex-grow: 1;
  border-radius: 5px;
  border: none;
  padding: 0 22px;
  outline: 0;
  outline-offset: 0;
}

.search-button {
  background-color: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}

.search-button-text {
  margin-left: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-top: 20px;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-link {
  text-decoration: none;
}

.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}

.so-big {
  width: 195px;
}

.page-title {
  margin-bottom: 4px;
}

.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 26px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.card-img {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 5px;
}

.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 12px;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-top: 0;
  margin-bottom: 4px;
}

.service {
  margin-bottom: 25px;
}

.service-title {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}

.big {
  max-width: 231px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
